body{
    font-family: 'Helvetica', sans-serif;
    color: blue;
    background: #FFFFFF;
}

#imagem-dog{ /**Imagem inicial na tela de login*/
    
    border: 2px solid #E5E5E5;
    position: absolute;
    float: left;
}

#login-senha{/**toda borda e posição do conjunto login*/
    width: 482px;
    height: 864px;
    padding-left: 45px;
    background-color: #E5E5E5;
    
    float: right;

}


h1{/** texto Hotel Pet no login*/
    
    font-size: 40px;
    font-weight: bold;
    padding: 84px 1px 1px 130px ;
}

#caixa-login{/** posição caixa de login no login*/
    padding: 130px  1px 20px 10px ;

}

#caixa-login input{/**tamanho caixa de login no login*/
    
    padding-top: 20px;
    padding-right: 225px ; 
    font-size: 16px;
    background-color:#FFFFFF ;
    border:2px solid #AAAAAA;
    border-radius: 4px;
    
}

#caixa-senha{/** posição caixa de senha no login*/

    padding: 73px 1px 47px 10px;

}
#caixa-senha input{/**tamanho caixa de senha no login*/
    
    
    padding-top: 20px;
    padding-right: 225px ; 
    font-size: 16px;
    background-color:#FFFFFF ;
    border:2px solid #AAAAAA;
    border-radius: 4px;
 
}

#caixa-criar-conta{
    
    padding: 40px 1px 40px 10px ;

}

#caixa-criar-conta input{

    
    padding-top: 20px;
    padding-right: 335px ;
    color: #FFFFFF;
    background: #074EE8;
    font-size: 16px;
    border: 2px solid #074EE8;
    border-radius: 4px;
   
    
}

#link-login{

    padding: 40px 0px 0px 130px;

}